* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: rgb(159, 159, 159);
    font-family: Poppins, sans-serif;
  }
  header {
    background-color: rgb(86, 46, 255);
    height: 100px;
    display: flex;
  }
  section {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    margin: 1em auto;
    padding: 1em;
  }
  .header-section {
    background-color: rgb(86, 46, 255);
    margin: 0px auto;
  }
  .navigation {
    display: flex;
  }
  .logo {
    display: flex;
    width: 30%;
  }
  .logo-image {
  }
  .logo-image img {
    height: 60px;
  }
  .logo-name {
    margin: 20px 10px;
  }
  .logo-name h3 {
    color: white;
  }
  .menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .menu-name {
    margin: 20px 0px;
  }
  .menu-name ul li {
    list-style: none;
  }
  .menu-name ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 1em;
  }
  .menu-images {
    display: flex;
  }
  .menu-images img {
    height: 60px;
  }
  .section-title {
    color: rgb(99, 106, 250);
    padding-bottom: 1em;
    margin: 0px 1em;
  }
  .top-players,
  .blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0px 1em;
    
  }
  .players,
  .blog-article {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .players img {
    height: 150px;
  }
  .players h3 {
    margin-left: 30px;
  }
  main {
    margin: 0px auto;
  }
  .hr-span {
    width: 98%;
    display: flex;
    margin: 1em auto;
  }
  .hr-span span {
    width: 100%;
    display: inline-block;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
  }
  .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 1em;
    place-items: center;
  }
  .blog-article {
    display: flex;
    margin: 1em 0px;
  }
  .thumbnil {
    width: 200px;
  }
  .thumbnil img {
    width: 200px;
  }
  .blog-info {
    margin-left: 1em;
  }
  .blog-info h3 {
  }
  .blog-info p a {
    text-decoration: none;
  }
  .blog-section {
  }
  .filled {
    color: gold;
  }
  .unfilled {
    color: gray;
  }
  .course-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .course-ratings {
  }
  .course-ration-number {
    justify-content: center;
    display: flex;
  }
  .course-duration {
    margin-right: 1em;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    background-color: pink;
    color: red;
    border-radius: 30px;
  }
  .course-duration span {
  }
  .courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1em 0px;
  }
  .course-images {
  }
  .course-images img {
    height: 150px;
    width: 100%;
  }
  .course-title {
  }
  .course-title h3 {
  }
  .course-title p a {
    text-decoration: none;
  }
  .course-details {
    margin: 0em 1em;
    border-radius: 15px;
    box-shadow: 7px 7px 15px 0px black;
    margin: 1em;
    border: none;
  }
  footer{text-align: center;background: #af9b80;color: rgb(209, 209, 209);margin-top: 2em;padding: 1em 0px;}
  footer h3{}
  footer h3 a{
      text-decoration: none;
      color: rgb(209, 209, 209);
  }