*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #562EFF;
}
section{
  width: 80%;
  margin: 0 auto;
  /* height: 100px; */
}
.navigation{
    height: 100px;
    display: flex;
}
.logo{
    display: flex;
    width: 30%;
}
.logo-image{
    margin: 1em 0;
}
.logo-image img{
    height: 3.5em;
}
.logo-name{
    margin: 2em 0.50em;
}
.logo-name h3{
    color: white;
}
.menu{display: flex;width: 100%;justify-content: flex-end;}
.menu-name{
    margin: 2em 0;
}
.menu-name ul{}
.menu-name ul li {
    list-style: none;
}
.menu-name ul li a{
    text-decoration: none;
    color: white;
    margin: 0 1em;
}
.menu-images{
    display: flex;
    margin: 1em 0;
}
.menu-images img{height: 3.5em;}